@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");

/*
* IMPORT CUSTOM FONT
*/
@font-face {
    font-family: ChunkFive;
    src: url(../assets/fonts/Chunkfive.woff);
}

:root {
    --title-font: ChunkFive, sans-serif;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --bg-red: #f02020;
    --darker-red: #c01817;
    --bg-darkest-red: #861212;
    --text-white: #f7f0ea;
    --text-yellow: #feb101;
    --text-black: #1b1815;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100dvh;
    background-color: var(--text-white);
    font-size: 16px;
    font-family: var(--font-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

header {
    background: black;
    color: var(--text-white);
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 0 0 50px 50px;
    padding: 10px;
}

header .direction {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

main {
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 20px 10px;
}

main section {
    width: 100%;
}

section .search {
    display: flex;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    gap: 10px
}

section .search input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-left: solid 1px var(--text-white);
    outline: none;
    color: var(--text-white);
    padding-left: 10px;
    font-family: var(--font-secondary);
}

.offerBanner {
    background-color: black;
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 30%;
}

.offerBanner .image {
    width: 50%;
    height: 100%;
    background: var(--darker-red);
    border-top-left-radius: 120px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.offerBanner .offerText {
    width: 50%;
    height: 100%;
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding-left: 50px;
    gap: 10px;
    border-radius: 25px;
}

.offerText h3 {
    color: var(--text-yellow);
    font-size: 4rem;
}

.offerText h4 {
    font-size: 1rem;
}

.offerText p {
    font-size: .8rem;
}

.offerText button {
    width: 30%;
    padding: 7px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--text-yellow);
    font-weight: bold;
    font-family: var(--font-secondary);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.offerText button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.025);
}

.offerBanner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.categories {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 15%;
    gap: 10px;
}

.categoriesCarrousel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.categoriesCarrousel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: all .3s ease;
}

.categoriesCarrousel img:hover {
    transform: scale(1.1);
}

section.popular {
    width: 100%;
    height: 35%;
}

.popularCarrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.popularCarrousel article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 15%;
    height: 80%;
    gap: 5px;
    background-color: black;
    color: var(--text-white);
    border-radius: 110px 110px 15px 15px;
    flex-shrink: 0;

}

article img {
    width: auto;
    height: 90px;
    object-fit: cover;
    align-self: center;
}

article h3 {
    padding-left: 10px;
    padding-right: 15px;
    font-size: .8rem;
}

article p {
    padding-left: 10px;
    padding-right: 15px;
    font-size: .5rem;
}

article button {
    align-self: center;
    padding: 4px 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--text-yellow);
    font-weight: bold;
    font-family: var(--font-secondary);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

article button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.025);
}
article .popularSvg{
    background-color: var(--text-white);
    padding: 2.5px;
    border-radius: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.popularSvg p {
    font-weight: bold;
    font-size: .7rem;
}
.icons {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

footer {
    height: 10%;
    width: 100%;
    background-color: black;
}

@media (max-width: 768px) {
    .offerText h3 {
        color: var(--text-yellow);
        font-size: 1rem;
    }

    .offerText h4 {
        font-size: .4rem;
    }

    .offerText p {
        font-size: .4rem;
    }

    .offerBanner .offerText {
        padding-left: 20px;
        gap: 10px;
        border-radius: 25px;
    }

    .offerText button {
        width: 70%;
        padding: 6px;
        font-size: .7rem;
        border-radius: 10px;
        border: none;
    }

    .offerBanner {
        height: 20%;
        gap: 0px;
    }

    .categoriesCarrousel img {
        width: 70px;
        height: 70px;
    }

    main {
        width: 100%;
    }

    article img {
        width: auto;
        height: 70px;
    }

    article button {
        padding: 2px 20px;
        align-self: center;
    }

    section.popular {
        width: 100%;
        height: 40%;
    }

    .popularCarrousel article {
        width: 40%;
        justify-content: space-around;
    }

    .popularCarrousel {
        gap: 5px;
        justify-content: flex-start;
    }
}