@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");

/*
* IMPORT CUSTOM FONT
*/
@font-face {
  font-family: ChunkFive;
  src: url(../assets/fonts/Chunkfive.woff);
}

:root {
  --title-font: ChunkFive, sans-serif;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --bg-red: #f02020;
  --darker-red: #c01817;
  --bg-darkest-red: #861212;
  --text-white: #f7f0ea;
  --text-yellow: #feb101;
  --text-black: #1b1815;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  color: var(--text-white);
  font-size: 16px;
  font-family: var(--font-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

header {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 33%;
  padding-bottom: 1%;
  background: url("../assets/img/heroProduct3.webp") no-repeat center center /
    cover;
}
header .popularSvg {
  background-color: var(--text-white);
  padding: 5px;
  border-radius: 7px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
main {
  width: 100%;
  height: 50%;
  padding-left: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
section {
  width: 100%;
}
main button {
  width: 50%;
  font-size: 1.5rem;
  padding: 14px 14px;
  border-radius: 10px;
  border: none;
  background-color: var(--text-yellow);
  font-weight: bold;
  font-family: var(--font-secondary);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
main h1 {
  font-size: 3rem;
}
main h2 {
  font-size: 1.6rem;
}
main h3 {
  font-size: 1.5rem;
}

main p,
main label {
  font-size: 0.8rem;
}

main button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.025);
}
main .extras {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .extra1,
main .extra2 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
.extra1 p,
.extra2 p {
  margin-left: auto;
}
main input{
    accent-color: var(--text-yellow);
}
@media (max-width: 768px) {
  main {
    padding-left: 5%;
  }
  header {
    padding-left: 5%;
  }
  main h1 {
    font-size: 2.5rem;
  }
  main h2 {
    font-size: 1.4rem;
  }
  main h3 {
    font-size: 1.1rem;
  }

  main p,
  main label {
    font-size: 0.8rem;
  }
  main .extra1,
  main .extra2 {
    width: 90%;
  }
  main button {
  width: 90%;
  font-size: 1.5rem;
  padding: 10px 14px;
  border-radius: 10px;
}
}
